body{
  font-size: 25px;
  width: 100%;
  background-color: #A2A79E
}

header{
  /*position: fixed;
  top: 0;
  left: 0;*/
  width: 100%;
  height: 80px;
  line-height: 10px;
}

h5{
  text-align: center;
}

/*#calendar_view, #daily_view{
  padding-top: 80px;
}*/

ul {
  list-style-type: none;
}

#month_section {
  width: 100%;
  text-align: center;
  background-color: firebrick;
  height: 140px;
  color: white;
  line-height: 140px;
}

#previous_month, #next_month, #october, #november, #december{
  float: left;
  width: 33%;
}

#previous_month:hover, #next_month:hover {
  color: darkblue;
}

#weekday_section{
  clear: both;
  padding: 20px 0px;
  background-color: #A27E8E;
}

#weekdays{
  padding: 10px 0px;
  background-color: #A27E8E;
}


#weekdays li {
  float: left;
  width: 13.6%;
  color: black;
  text-align: center;
}

.days_section{
  padding: 20px 0px;
  background-color: #A2A79E;
  height: 200px;
}

.days {
  padding: 10px 0px;
  background-color: #A2A79E;
  margin: 0;
  line-height: 25px;
}

.days li {
  list-style-type: none;
  float: left;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  color: white;
}

.days li:hover{
  color: darkblue;
}

#october, #december{
  display: none;
}

#oct_days_section, #dec_days_section{
  display: none;
}

#daily_view{
  font-size: 18px;
  float: right;
}

#nov13daily, #nov14daily{
  display: none;
  text-align: center;
}

#nov13daily span{
  display: block;
  padding: 5px;
}

#nov14daily span{
  display: block;
  padding: 5px;
}
